{% extends layout('default') %}

{% block metadata deferred %}
    {{ parent() }}
    {{ asset_script("module::/js/calculator.js") }}
{% endblock %}

{% block content %}
    <h1>Exchange rate calculator</h1>
    <div class="currencyx-calculator row">
        <div class="col-sm-6">
            <h5>I have</h5>
            <p class="form-group">
                <select name="currencyx_from" title="Base Currency" class="currencyx-from form-control">
                    {% for r in rate_collection.items %}
                        {% if rate_base.getTargetCurrency == r.getTargetCurrency %}
                            <option value="{{ r.getRate }}" selected>{{ r.getTargetName }}</option>
                        {% else %}
                            <option value="{{ r.getRate }}">{{ r.getTargetName }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <p class=" form-group
                    ">
                <input name="currencyx_amount" type="number" value="1" class="currencyx-amount form-control" title="Amount to calculate"/>
            </p>
        </div>
        <div class="col-sm-6">
            <h5>I want</h5>
            <p class="form-group">
                <select name="currencyx_to" title="Target Currency" class="currencyx-to form-control">
                    {% for r in rate_collection.items %}
                        <option value="{{ r.getRate }}">{{ r.getTargetName }}</option>
                    {% endfor %}
                </select>
            </p>
            <p class="form-group">
                <input class="currencyx-result form-control" readonly="readonly" title="Your results"/>
            </p>
        </div>
    </div>

    <h2>Exchange rates for {{ rate_base.getTargetName }}</h2>
    <div class="currencyx-rates">
        <table class="table table-bordered">
            <tr>
                <th class="hidden-xs">Currency Name</th>
                <th>Currency Code</th>
                <th>Rate per 1 {{ rate_base.getTargetCurrency }}</th>
            </tr>
            {% for rate in rate_collection.items %}
                <tr>
                    <td class="hidden-xs"><a href="{{ route("rcrowt.module.currencyx::calculator.index", [rate]) }}">{{ rate.getTargetName }}</a></td>
                    <td><a href="{{ route("rcrowt.module.currencyx::calculator.index", [rate]) }}">{{ rate.getTargetCurrency }}</a></td>
                    <td>{{ rate.getRateForCurrency(rate_base) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}